In [6]:
import pandas as pd 
import folium

In [2]:
snap = pd.read_csv("../local-data/SNAP_Retailer_Location_data.csv", encoding='latin-1')
tax = pd.read_csv("../local-data/final_geocoded_output.csv")
snap = snap.drop(columns=['ï»¿X', 'Y'])
snap = snap[(snap['County'] == 'DALLAS') & (snap['State'] == 'TX')]
snap.columns = snap.columns.str.upper().str.replace(' ', '_')
tax.columns = tax.columns.str.upper().str.replace(' ', '_')

In [3]:
tax.columns

Index(['TAXPAYER_NUMBER', 'TAXPAYER_NAME', 'TAXPAYER_ADDRESS', 'TAXPAYER_CITY',
       'TAXPAYER_STATE', 'TAXPAYER_ZIP_CODE', 'TAXPAYER_COUNTY_CODE',
       'TAXPAYER_ORGANIZATION_TYPE', 'OUTLET_NUMBER', 'OUTLET_NAME',
       'OUTLET_ADDRESS', 'OUTLET_CITY', 'OUTLET_STATE', 'OUTLET_ZIP_CODE',
       'OUTLET_COUNTY_CODE', 'OUTLET_NAICS_CODE',
       'OUTLET_INSIDE/OUTSIDE_CITY_LIMITS_INDICATOR',
       'OUTLET_PERMIT_ISSUE_DATE', 'OUTLET_FIRST_SALES_DATE', 'ID', 'LATITUDE',
       'LONGITUDE', 'MATCH_STATUS', 'MATCH_TYPE'],
      dtype='object')

In [4]:
display(snap.head())
display(f'{len(snap)} Number of SNAP Columns')
display(tax.head())
display(f'{len(tax)} Number of TAX Columns')

,RECORD_ID,STORE_NAME,STORE_STREET_ADDRESS,ADDITONAL_ADDRESS,CITY,STATE,ZIP_CODE,ZIP4,COUNTY,STORE_TYPE,LATITUDE,LONGITUDE,INCENTIVE_PROGRAM,GRANTEE_NAME,OBJECTID
32,1397961,7-eleven Convenience Store 32914B,6122 Broadway Blvd,NaN,Garland,TX,75043,5826,DALLAS,Convenience Store,32.841278,-96.594841,NaN,NaN,33
216,1627853,Grand Trip,7500 S Westmoreland Rd,NaN,Dallas,TX,75237,3306,DALLAS,Convenience Store,32.654293,-96.885239,NaN,NaN,217
217,1618795,Corner Market,500 S Hampton Rd,NaN,Dallas,TX,75208,5621,DALLAS,Convenience Store,32.741020,-96.856522,NaN,NaN,218
278,1634103,Joe V's Smart Shop 805,7700 Samuell Blvd,NaN,Dallas,TX,75227,,DALLAS,Supermarket,32.792328,-96.685730,NaN,NaN,279
279,1618256,WB Ferguson Shell,10290 Ferguson Rd,NaN,Dallas,TX,75228,3013,DALLAS,Convenience Store,32.834496,-96.673080,NaN,NaN,280

'1778 Number of SNAP Columns'

,TAXPAYER_NUMBER,TAXPAYER_NAME,TAXPAYER_ADDRESS,TAXPAYER_CITY,TAXPAYER_STATE,TAXPAYER_ZIP_CODE,TAXPAYER_COUNTY_CODE,TAXPAYER_ORGANIZATION_TYPE,OUTLET_NUMBER,OUTLET_NAME,...,OUTLET_COUNTY_CODE,OUTLET_NAICS_CODE,OUTLET_INSIDE/OUTSIDE_CITY_LIMITS_INDICATOR,OUTLET_PERMIT_ISSUE_DATE,OUTLET_FIRST_SALES_DATE,ID,LATITUDE,LONGITUDE,MATCH_STATUS,MATCH_TYPE
0,17527673150,"ORTEGA INVESTMENTS, INC.",2727 LYNDON B JOHNSON FWY STE 927,FARMERS BRNCH,TX,75234,57,CT,3,LA AZTECA MEAT MARKET #2,...,57.0,445210.0,Y,04/02/2007,04/05/2007,0,32.909523,-96.875627,Match,Non_Exact
1,32050333254,"WINCO FOODS, LLC",PO BOX 5756 ATTN: KIRBY SANDBERG,BOISE,ID,83705,0,CI,6,WINCO FOODS,...,57.0,445110.0,Y,11/24/2014,02/03/2015,1,NaN,NaN,No_Match,NaN
2,32085465873,JMSY FAMILY INC,2332 BELLA CT,CARROLLTON,TX,75010,61,CT,1,DONUT HOUSE,...,57.0,445291.0,Y,07/21/2022,08/01/2022,2,32.897320,-96.939050,Match,Exact
3,32059446701,JOSEFINA SANCHEZ,1639 S BUCKNER BLVD,DALLAS,TX,75217,57,IS,1,DULCERIA EMMANUEL,...,57.0,445292.0,Y,02/01/2016,01/01/2016,3,32.740362,-96.683041,Match,Non_Exact
4,32044349556,KIM & KU INC.,11445 EMERALD ST STE 112,DALLAS,TX,75229,57,CT,3,SK DONUTS,...,57.0,445291.0,Y,05/02/2019,05/15/2019,4,NaN,NaN,No_Match,NaN

'2099 Number of TAX Columns'

In [5]:
snap_upper_col = ['STORE_STREET_ADDRESS', 'CITY', 'STATE']
for col in snap_upper_col:
    snap[col] = snap[col].str.upper()

tax_upper_cols = ['OUTLET_ADDRESS', 'OUTLET_CITY', 'OUTLET_STATE']
for col in tax_upper_cols:
    tax[col] = tax[col].str.upper()

display(snap.head())
display(tax.head())

,RECORD_ID,STORE_NAME,STORE_STREET_ADDRESS,ADDITONAL_ADDRESS,CITY,STATE,ZIP_CODE,ZIP4,COUNTY,STORE_TYPE,LATITUDE,LONGITUDE,INCENTIVE_PROGRAM,GRANTEE_NAME,OBJECTID
32,1397961,7-eleven Convenience Store 32914B,6122 BROADWAY BLVD,NaN,GARLAND,TX,75043,5826,DALLAS,Convenience Store,32.841278,-96.594841,NaN,NaN,33
216,1627853,Grand Trip,7500 S WESTMORELAND RD,NaN,DALLAS,TX,75237,3306,DALLAS,Convenience Store,32.654293,-96.885239,NaN,NaN,217
217,1618795,Corner Market,500 S HAMPTON RD,NaN,DALLAS,TX,75208,5621,DALLAS,Convenience Store,32.741020,-96.856522,NaN,NaN,218
278,1634103,Joe V's Smart Shop 805,7700 SAMUELL BLVD,NaN,DALLAS,TX,75227,,DALLAS,Supermarket,32.792328,-96.685730,NaN,NaN,279
279,1618256,WB Ferguson Shell,10290 FERGUSON RD,NaN,DALLAS,TX,75228,3013,DALLAS,Convenience Store,32.834496,-96.673080,NaN,NaN,280

,TAXPAYER_NUMBER,TAXPAYER_NAME,TAXPAYER_ADDRESS,TAXPAYER_CITY,TAXPAYER_STATE,TAXPAYER_ZIP_CODE,TAXPAYER_COUNTY_CODE,TAXPAYER_ORGANIZATION_TYPE,OUTLET_NUMBER,OUTLET_NAME,...,OUTLET_COUNTY_CODE,OUTLET_NAICS_CODE,OUTLET_INSIDE/OUTSIDE_CITY_LIMITS_INDICATOR,OUTLET_PERMIT_ISSUE_DATE,OUTLET_FIRST_SALES_DATE,ID,LATITUDE,LONGITUDE,MATCH_STATUS,MATCH_TYPE
0,17527673150,"ORTEGA INVESTMENTS, INC.",2727 LYNDON B JOHNSON FWY STE 927,FARMERS BRNCH,TX,75234,57,CT,3,LA AZTECA MEAT MARKET #2,...,57.0,445210.0,Y,04/02/2007,04/05/2007,0,32.909523,-96.875627,Match,Non_Exact
1,32050333254,"WINCO FOODS, LLC",PO BOX 5756 ATTN: KIRBY SANDBERG,BOISE,ID,83705,0,CI,6,WINCO FOODS,...,57.0,445110.0,Y,11/24/2014,02/03/2015,1,NaN,NaN,No_Match,NaN
2,32085465873,JMSY FAMILY INC,2332 BELLA CT,CARROLLTON,TX,75010,61,CT,1,DONUT HOUSE,...,57.0,445291.0,Y,07/21/2022,08/01/2022,2,32.897320,-96.939050,Match,Exact
3,32059446701,JOSEFINA SANCHEZ,1639 S BUCKNER BLVD,DALLAS,TX,75217,57,IS,1,DULCERIA EMMANUEL,...,57.0,445292.0,Y,02/01/2016,01/01/2016,3,32.740362,-96.683041,Match,Non_Exact
4,32044349556,KIM & KU INC.,11445 EMERALD ST STE 112,DALLAS,TX,75229,57,CT,3,SK DONUTS,...,57.0,445291.0,Y,05/02/2019,05/15/2019,4,NaN,NaN,No_Match,NaN

TODO

Pattern Matching.

In [6]:
snap['SNAP_COMPOSITE_KEY'] = (snap['STORE_STREET_ADDRESS'].astype(str) + " " + snap['CITY'].astype(str) + " " + snap['STATE'].astype(str))
tax['TAX_COMPOSITE_KEY'] = (tax['OUTLET_ADDRESS'] + " " +  tax['OUTLET_CITY'] + " " + tax['OUTLET_STATE'])
display(snap['SNAP_COMPOSITE_KEY'].head())
display(tax['TAX_COMPOSITE_KEY'].head())

32        6122 BROADWAY BLVD GARLAND TX
216    7500 S WESTMORELAND RD DALLAS TX
217          500 S HAMPTON RD DALLAS TX
278         7700 SAMUELL BLVD DALLAS TX
279         10290 FERGUSON RD DALLAS TX
Name: SNAP_COMPOSITE_KEY, dtype: object

0              3046 FOREST LN STE B DALLAS TX
1            1122 W CENTERVILLE RD GARLAND TX
2         6421 RIVERSIDE DR STE 110 IRVING TX
3               1639 S BUCKNER BLVD DALLAS TX
4    5181 KELLER SPRINGS RD STE 103 DALLAS TX
Name: TAX_COMPOSITE_KEY, dtype: object

In [7]:
# 1. Unique key sets
snap_keys = set(snap['SNAP_COMPOSITE_KEY'])
tax_keys  = set(tax['TAX_COMPOSITE_KEY'])

# 2. Intersection and unions
common_keys     = snap_keys & tax_keys
only_snap_keys  = snap_keys - common_keys
only_tax_keys   = tax_keys  - common_keys

# 3. Row‐level match counts
tax_row_matches  = tax['TAX_COMPOSITE_KEY'].isin(snap_keys).sum()
snap_row_matches = snap['SNAP_COMPOSITE_KEY'].isin(tax_keys).sum()

# 4. Totals
total_tax = len(tax)
total_snap = len(snap)

# 5. Print them out
print(f"Unique keys in SNAP:           {len(snap_keys)}")
print(f"Unique keys in TAX:            {len(tax_keys)}")
print(f"Unique keys in BOTH:           {len(common_keys)}")
print(f"Unique only in SNAP:           {len(only_snap_keys)}")
print(f"Unique only in TAX:            {len(only_tax_keys)}\n")

print(f"Rows in TAX matching SNAP:     {tax_row_matches} of {total_tax}")
print(f"Rows in SNAP matching TAX:     {snap_row_matches} of {total_snap}")
print(f"TAX match rate (rows):         {tax_row_matches/total_tax:.1%}")
print(f"SNAP match rate (rows):        {snap_row_matches/total_snap:.1%}")
print(f"TAX match rate (unique keys):  {len(common_keys)/len(tax_keys):.1%}")
print(f"SNAP match rate (unique keys): {len(common_keys)/len(snap_keys):.1%}")

Unique keys in SNAP:           1751
Unique keys in TAX:            1993
Unique keys in BOTH:           488
Unique only in SNAP:           1263
Unique only in TAX:            1505

Rows in TAX matching SNAP:     537 of 2099
Rows in SNAP matching TAX:     497 of 1778
TAX match rate (rows):         25.6%
SNAP match rate (rows):        28.0%
TAX match rate (unique keys):  24.5%
SNAP match rate (unique keys): 27.9%

In [8]:
display(snap.columns)
display(tax.columns)

Index(['RECORD_ID', 'STORE_NAME', 'STORE_STREET_ADDRESS', 'ADDITONAL_ADDRESS',
       'CITY', 'STATE', 'ZIP_CODE', 'ZIP4', 'COUNTY', 'STORE_TYPE', 'LATITUDE',
       'LONGITUDE', 'INCENTIVE_PROGRAM', 'GRANTEE_NAME', 'OBJECTID',
       'SNAP_COMPOSITE_KEY'],
      dtype='object')

Index(['TAXPAYER_NUMBER', 'TAXPAYER_NAME', 'TAXPAYER_ADDRESS', 'TAXPAYER_CITY',
       'TAXPAYER_STATE', 'TAXPAYER_ZIP_CODE', 'TAXPAYER_COUNTY_CODE',
       'TAXPAYER_ORGANIZATION_TYPE', 'OUTLET_NUMBER', 'OUTLET_NAME',
       'OUTLET_ADDRESS', 'OUTLET_CITY', 'OUTLET_STATE', 'OUTLET_ZIP_CODE',
       'OUTLET_COUNTY_CODE', 'OUTLET_NAICS_CODE',
       'OUTLET_INSIDE/OUTSIDE_CITY_LIMITS_INDICATOR',
       'OUTLET_PERMIT_ISSUE_DATE', 'OUTLET_FIRST_SALES_DATE', 'ID', 'LATITUDE',
       'LONGITUDE', 'MATCH_STATUS', 'MATCH_TYPE', 'TAX_COMPOSITE_KEY'],
      dtype='object')

## Next Steps

Inject the data from Tax into sales where `SNAP_COMPOSITE_KEY` != `TAX_COMPOSITE_KEY`.

View the Table Below for how the data will be conformed to match SNAP data

| SNAP | TAX |
| ---- | --- |
| RECORD_ID | Randomly Generated ID |
| STORE_NAME | OUTLET_NAME |
| STORE_STREET_ADDRESS | OUTLET_ADDRESS |
| CITY | OUTLET_CITY |
| STATE | OUTLET_STATE |
| ZIP_CODE | OUTELET_ZIP_CODE |
| COUNTY | IF OUTLET COUNTY CODE = 57 THEN DALLAS |
| STORE_TYPE | MATCH OUTLET_NAICS_CODE WITH TYPE |
| LATITUDE | LATITUDE |
| LONGITUDE | LONGITUDE |

In [10]:
tax['OUTLET_NAICS_CODE'].unique()

array([445210., 445110., 445291., 445292., 445120., 445299., 445310.,
       445230., 445000., 445100., 445220.])

In [11]:
# Shorter store type names
naics_to_store_type_short = {
    445110: 'Supermarket',
    445120: 'Convenience Store',
    445210: 'Meat Market',
    445220: 'Seafood Market',
    445230: 'Produce Market',
    445291: 'Bakery',
    445292: 'Confectionery',
    445299: 'Specialty Food',
    445310: 'Liquor Store',
    445000: 'Food Store',
    445100: 'Grocery Store'
}

tax['STORE_TYPE'] = tax['OUTLET_NAICS_CODE'].map(naics_to_store_type_short)
tax.head()

,TAXPAYER_NUMBER,TAXPAYER_NAME,TAXPAYER_ADDRESS,TAXPAYER_CITY,TAXPAYER_STATE,TAXPAYER_ZIP_CODE,TAXPAYER_COUNTY_CODE,TAXPAYER_ORGANIZATION_TYPE,OUTLET_NUMBER,OUTLET_NAME,...,OUTLET_INSIDE/OUTSIDE_CITY_LIMITS_INDICATOR,OUTLET_PERMIT_ISSUE_DATE,OUTLET_FIRST_SALES_DATE,ID,LATITUDE,LONGITUDE,MATCH_STATUS,MATCH_TYPE,TAX_COMPOSITE_KEY,STORE_TYPE
0,17527673150,"ORTEGA INVESTMENTS, INC.",2727 LYNDON B JOHNSON FWY STE 927,FARMERS BRNCH,TX,75234,57,CT,3,LA AZTECA MEAT MARKET #2,...,Y,04/02/2007,04/05/2007,0,32.909523,-96.875627,Match,Non_Exact,3046 FOREST LN STE B DALLAS TX,Meat Market
1,32050333254,"WINCO FOODS, LLC",PO BOX 5756 ATTN: KIRBY SANDBERG,BOISE,ID,83705,0,CI,6,WINCO FOODS,...,Y,11/24/2014,02/03/2015,1,NaN,NaN,No_Match,NaN,1122 W CENTERVILLE RD GARLAND TX,Supermarket
2,32085465873,JMSY FAMILY INC,2332 BELLA CT,CARROLLTON,TX,75010,61,CT,1,DONUT HOUSE,...,Y,07/21/2022,08/01/2022,2,32.897320,-96.939050,Match,Exact,6421 RIVERSIDE DR STE 110 IRVING TX,Bakery
3,32059446701,JOSEFINA SANCHEZ,1639 S BUCKNER BLVD,DALLAS,TX,75217,57,IS,1,DULCERIA EMMANUEL,...,Y,02/01/2016,01/01/2016,3,32.740362,-96.683041,Match,Non_Exact,1639 S BUCKNER BLVD DALLAS TX,Confectionery
4,32044349556,KIM & KU INC.,11445 EMERALD ST STE 112,DALLAS,TX,75229,57,CT,3,SK DONUTS,...,Y,05/02/2019,05/15/2019,4,NaN,NaN,No_Match,NaN,5181 KELLER SPRINGS RD STE 103 DALLAS TX,Bakery

In [13]:
tax_unmatched = tax.loc[
    ~tax['TAX_COMPOSITE_KEY'].isin(snap['SNAP_COMPOSITE_KEY'])
].copy()

In [ ]:
import uuid

def gen_id(): 
    # Generate a random 64-bit integer
    return uuid.uuid4().int >> 64

# 2a. New primary key
tax_unmatched['RECORD_ID'] = [gen_id() for _ in range(len(tax_unmatched))]

# 2b. Rename / map columns
tax_unmatched['STORE_NAME']           = tax_unmatched['OUTLET_NAME']
tax_unmatched['STORE_STREET_ADDRESS'] = tax_unmatched['OUTLET_ADDRESS']
tax_unmatched['Additonal_Address']    = ""  # no secondary address in TAX
tax_unmatched['CITY']                 = tax_unmatched['OUTLET_CITY']
tax_unmatched['STATE']                = tax_unmatched['OUTLET_STATE']
tax_unmatched['Zip_Code']             = tax_unmatched['OUTLET_ZIP_CODE']
tax_unmatched['Zip4']                 = ""  # blank if not available
tax_unmatched['County']               = tax_unmatched['OUTLET_COUNTY_CODE'].apply(lambda c: 'DALLAS' if int(c)==57 else 'Other')
# You already did this:
# tax_unmatched['STORE_TYPE']         = tax_unmatched['OUTLET_NAICS_CODE'].map(naics_to_store_type_short)
tax_unmatched['Latitude']             = tax_unmatched['LATITUDE']
tax_unmatched['Longitude']            = tax_unmatched['LONGITUDE']
tax_unmatched['Incentive_Program']    = ""   # no equivalent
tax_unmatched['Grantee_Name']         = ""   # no equivalent
tax_unmatched['ObjectId']             = None # or generate if needed

In [15]:
# Ensure the new rows have the *exact same* columns, in the *same order*, as your snap DataFrame:
snap_cols = [
    'RECORD_ID',
    'STORE_NAME',
    'STORE_STREET_ADDRESS',
    'Additonal_Address',
    'CITY',
    'STATE',
    'Zip_Code',
    'Zip4',
    'County',
    'STORE_TYPE',
    'Latitude',
    'Longitude',
    'Incentive_Program',
    'Grantee_Name',
    'ObjectId'
]

new_snap_rows = tax_unmatched[snap_cols]

In [16]:
snap_expanded = pd.concat([snap, new_snap_rows], ignore_index=True)

In [18]:
len(snap_expanded)

3340