In [1]:
import pandas as pd

In [2]:
accountINFO = pd.read_csv('../local-data/ACCOUNT_INFO.csv')
comDetail = pd.read_csv('../local-data/COM_DETAIL.CSV')

C:\Users\macgl\AppData\Local\Temp\ipykernel_8408\3264185340.py:1: DtypeWarning: Columns (9,13,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  accountINFO = pd.read_csv('../local-data/ACCOUNT_INFO.csv')

In [5]:
accountINFO.columns

Index(['ACCOUNT_NUM', 'APPRAISAL_YR', 'DIVISION_CD', 'BIZ_NAME', 'OWNER_NAME1',
       'OWNER_NAME2', 'EXCLUDE_OWNER', 'OWNER_ADDRESS_LINE1',
       'OWNER_ADDRESS_LINE2', 'OWNER_ADDRESS_LINE3', 'OWNER_ADDRESS_LINE4',
       'OWNER_CITY', 'OWNER_STATE', 'OWNER_ZIPCODE', 'OWNER_COUNTRY',
       'STREET_NUM', 'STREET_HALF_NUM', 'FULL_STREET_NAME', 'BLDG_ID',
       'UNIT_ID', 'PROPERTY_CITY', 'PROPERTY_ZIPCODE', 'MAPSCO', 'NBHD_CD',
       'LEGAL1', 'LEGAL2', 'LEGAL3', 'LEGAL4', 'LEGAL5', 'DEED_TXFR_DATE',
       'GIS_PARCEL_ID', 'PHONE_NUM', 'LMA', 'IMA'],
      dtype='object')

In [11]:
accountINFO[['STREET_NUM', 'STREET_HALF_NUM', 'FULL_STREET_NAME', 'BLDG_ID', 'UNIT_ID', 'PROPERTY_CITY', 'PROPERTY_ZIPCODE']].head()

,STREET_NUM,STREET_HALF_NUM,FULL_STREET_NAME,BLDG_ID,UNIT_ID,PROPERTY_CITY,PROPERTY_ZIPCODE
0,2511,NaN,BRANDYWINE DR,NaN,NaN,FARMERS BRANCH,752344753
1,4,NaN,CEDARVIEW DR,NaN,NaN,CEDAR HILL,75104
2,13736,NaN,STARDUST LN,NaN,NaN,FARMERS BRANCH,752344840
3,12511,NaN,KEYPORT DR,NaN,NaN,FARMERS BRANCH,752346615
4,3643,NaN,MORNING STAR CIR,NaN,NaN,FARMERS BRANCH,752346666