In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../local-data/property_size_merged.csv')
df.head()

,ZIP_CODE,COUNTY,Y,STORE_TYPE,CITY,Ï»¿X,LATITUDE,ADDITONAL_ADDRESS,INCENTIVE_PROGRAM,GRANTEE_NAME,...,LEGAL2,LEGAL3,LEGAL4,LEGAL5,DEED_TXFR_DATE,GIS_PARCEL_ID,PHONE_NUM,LMA,IMA,SNAP_COMPOSITE_KEY
0,75043,DALLAS,3.874255e+06,Convenience Store,GARLAND,-1.075289e+07,32.841278,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75237,DALLAS,3.849507e+06,Convenience Store,DALLAS,-1.078522e+07,32.654293,NaN,NaN,NaN,...,BLK A/7544 LOT 3B ACS 0.918,NaN,INT201800311879 DD11262018 CO-DC,7544 A00 03B00 5DA7544 A00,11/29/2018,0075440A0003B0000,NaN,2DSRB3,360500,7500 S WESTMORELAND RD DALLAS
2,75208,DALLAS,3.860979e+06,Convenience Store,DALLAS,-1.078202e+07,32.741020,NaN,NaN,NaN,...,BLK 4/3451 LT 4A,NaN,INT201900238024 DD09052019 CO-DC,3451 004 04A00 2003451 004,09/09/2019,00000272183500000,NaN,2DSL6B,690500,500 S HAMPTON RD DALLAS
3,75227,DALLAS,3.867771e+06,Supermarket,DALLAS,-1.076301e+07,32.792328,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,75228,DALLAS,3.873357e+06,Convenience Store,DALLAS,-1.076160e+07,32.834496,NaN,NaN,NaN,...,TR 2 ACS 0.2827,NaN,INT201700338538 DD12012017 CO-DC,7064 000 00200 7DA7064 000,12/04/2017,00706400000020000,NaN,1DSI14,690800,10290 FERGUSON RD DALLAS